canvas {
    position: absolute;
    left: 0;
    top: 0;
}

body {
    overflow: hidden;
    background-color: black;
}

h3 {
	color: #000000;
    font-size: 0;
}

h1 {
	color: #000000;
    font-size: 0;
}

p {
    color: #000000;
    font-size: 0;
}